<h1>Bienvenides</h1>
<p>¡Esto es Memerch!</p>

<h3>Lista de productos</h3>

<ul>
    {{#products}}
    <li>{{productName}}, {{productColor}}</li>
    {{/products}}
</ul>

<a href="/">
  <button>Al índice</button>
</a>